html {
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-done-fg: #8250df;
    --color-done-emphasis: #8250df;
    --color-attention-fg: #9a6700;
    --color-attention-emphasis: #9a6700;
    --color-success-fg: #1a7f37;
    --color-success-emphasis: #1f883d;
    --color-danger-fg: #d1242f;
    --color-danger-emphasis: #cf222e;
}

html.dark-mode {
    --color-accent-fg: #2f81f7;
    --color-accent-emphasis: #1f6feb;
    --color-done-fg: #a371f7;
    --color-done-emphasis: #8957e5;
    --color-attention-fg: #d29922;
    --color-attention-emphasis: #9e6a03;
    --color-success-fg: #3fb950;
    --color-success-emphasis: #238636;
    --color-danger-fg: #f85149;
    --color-danger-emphasis: #da3633;
}


.markdown-alert {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
} 

.markdown-alert svg {
    padding-left: 8px;
    padding-right: 8px;
}

.markdown-alert.markdown-alert-note {
    border-color: var(--color-accent-emphasis);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--color-accent-fg);
    fill: var(--color-accent-fg);
}

.markdown-alert.markdown-alert-important {
    border-color: var(--color-done-emphasis);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
    color: var(--color-done-fg);
    fill: var(--color-done-fg);
}

.markdown-alert.markdown-alert-warning {
    border-color:  var(--color-attention-emphasis);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
    color:  var(--color-attention-fg);
    fill: var(--color-attention-fg);
}

.markdown-alert.markdown-alert-tip {
    border-color: var(--color-success-emphasis);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: var(--color-success-fg);
    fill: var(--color-success-fg);
}

.markdown-alert.markdown-alert-caution {
    border-color: var(--color-danger-emphasis);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
    color:  var(--color-danger-fg);
    fill: var(--color-danger-fg);
}